/*---------------------------------------------------NAVBAR--------------------------------------------------------*/

@keyframes GoTo_1{0%{bottom: 0vh;}100%{bottom: 0vh;}}
@keyframes GoTo_2{0%{bottom: 100vh;}100%{bottom: 100vh;}}
@keyframes GoTo_3{0%{bottom: 200vh;}100%{bottom: 200vh;}}
@keyframes GoTo_4{0%{bottom: 300vh;}100%{bottom: 300vh;}}
/*---------------------------------------------------ABOUT--------------------------------------------------------*/


@keyframes Scroll_down_1{0%{bottom:0vh;}100%{bottom: 100vh;}}
@keyframes Scroll_up_2{0%{bottom: 100vh;}100%{bottom: 0vh;}}

@keyframes Scroll_down_2{0%{bottom:100vh;}100%{bottom: 200vh;}}
@keyframes Scroll_up_3{0%{bottom: 200vh;}100%{bottom: 100vh;}}

@keyframes Scroll_down_3{0%{bottom:200vh;}100%{bottom: 300vh;}}
@keyframes Scroll_up_4{0%{bottom: 300vh;}100%{bottom: 200vh;}}

@keyframes Scroll_down_4{0%{bottom:300vh;}100%{bottom: 400vh;}}
@keyframes Scroll_up_5{0%{bottom: 400vh;}100%{bottom: 300vh;}}

@keyframes Scroll_down_5{0%{bottom:400vh;}100%{bottom: 500vh;}}
@keyframes Scroll_up_6{0%{bottom: 500vh;}100%{bottom: 400vh;}}

@keyframes Scroll_down_6{0%{bottom:500vh;}100%{bottom: 600vh;}}
@keyframes Scroll_up_7{0%{bottom: 600vh;}100%{bottom: 500vh;}}

@keyframes Scroll_down_7{0%{bottom:600vh;}100%{bottom: 700vh;}}
@keyframes Scroll_up_8{0%{bottom: 700vh;}100%{bottom: 600vh;}}


/*---------------------------------------------------HOME--------------------------------------------------------*/


@keyframes Scroll_0{0%{right:0vW;}100%{right: 100vW;}}

@keyframes Scroll_1{0%{right:100vW;}100%{right: 200vW;}}

@keyframes Scroll_2{0%{right:200vW;}100%{right: 0vW;}}
/*---------------------------------------------------SKILL--------------------------------------------------------*/


@keyframes skills_Scroll4{0%{right:0vw;}100%{right: calc(400px*13);}}
@keyframes skills_Scroll3{0%{right:0vw;}100%{right: calc(300px*13);}}
@keyframes skills_Scroll2{0%{right:0vw;}100%{right: calc(200px*13);}}
@keyframes skills_Scroll1{0%{right:0vw;}100%{right: calc(100px*13);}}


.skills-scroll
{
    animation: skills_Scroll1 13s linear infinite;
}

@media (min-width: 640px) {
    .skills-scroll
    {
        animation: skills_Scroll2 13s linear infinite;
    }
}

@media (min-width: 768px)
{
    .skills-scroll
    {
        animation: skills_Scroll3 13s linear infinite;
    }
}

@media (min-width: 1024px) 
{
    .skills-scroll 
    {
        animation: skills_Scroll4 13s linear infinite;
    }
}


